body {
    color: #cecece;
    font-family: "Open Sans", "-apple-system", "Segoe UI", "Helvetica Neue", "sans-serif";
    background-color:#1d1d1d;
    text-align: center;
}

.metric {
    text-align: center;
    margin-top: 10px;
}